In [17]:
# allows matplots to be shown in the document
%matplotlib inline

In [31]:
# Import dependencies
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
import statistics as sts

In [40]:
# import the data sheets as pandas dataframes
city_data_df = pd.read_csv("Resources/city_data.csv")
ride_data_df = pd.read_csv("Resources/ride_data.csv")

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [42]:
# merge the two dfs into one
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])
pyber_data_df.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban

In [21]:
# Create a bubble chart that shows fare vs number of rides for each city type

In [22]:
# Determine the mean, median and mode of total number of rides for each city type

In [23]:
# Determine the mean, median and mode of the average fares for each city type

In [24]:
# Determine the mean, median and mode of total number of drivers for each city type

In [25]:
# Create box and whiskers plot for number of rides for each city type

In [26]:
# Create box and whiskers plot for the fares for each city type

In [27]:
# Create box and whiskers plot for number of drivers for each city type

In [28]:
# Create a pie chart for percent of total fares

In [29]:
# Create a pie chart for percent of total rides

In [30]:
# Create a pie chart for percent of total drivers